.show-sec-info{
  display: none;
  position: fixed;
  z-index: 9999;
  top: 140px;
  left: 100px;
  width: 300px;
  background: darken($dark-grey, 5%);
  color: $white;
  box-shadow: 5px 0px 0px rgba(0,0,0,0.5);
  padding: 40px 20px 20px;
  .handle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: darken($dark-grey, 10%);
  }
  .close{
    padding: 8px 10px;
    color: $white;
    opacity: 0.7;
    font-size: 18px;
  }
  h3{
    margin-top: 20px;
    color: $white;
    font-size: 22px;
  }
  h4{
    color: $white;
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
*[data-sg]{
  cursor: pointer;
}

.toggle-grid{
  position: absolute;
  top: 20px;
  right: 20px;
  color: $blue;
  cursor: pointer;
}

.compad-icons{
  text-align: center;
}
.compad-icons > img{
  max-width: 70px;
  max-height: 70px;
  margin: 20px;
}