<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>
        <span data-sg data-name="h3_item_1">
        Branding
        </span>
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-6">
      <h4><span data-sg data-name="h4_item">Logo with White Text</span></h4>
      <div class="logo-box grey"><img src="web/img/logos/hubx-full-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4><span data-sg data-name="h4_item">Logo with Black Text</span></h4>
      <div class="logo-box"><img src="web/img/logos/hubx-full-logo-black.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4><span data-sg data-name="h4_item">Logo Sans-Text</span></h4>
      <div class="logo-box"><img src="web/img/logos/hubx-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4><span data-sg data-name="h4_item">Icon in Hub Orange</span></h4>
      <div class="logo-box"><img src="web/img/logos/icon-hubx-graphic-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-4">
      <h4><span data-sg data-name="h4_item">Spark</span></h4>
      <div class="logo-box product"><img src="web/img/logos/icon-spark.svg" alt="Spark"></div>
    </div>
    <div class="col-sm-4">
      <h4><span data-sg data-name="h4_item">Nitro</span></h4>
      <div class="logo-box product"><img src="web/img/logos/icon-nitro.svg" alt="Nitro"></div>
    </div>
    <div class="col-sm-4">
      <h4><span data-sg data-name="h4_item">Dynamo</span></h4>
      <div class="logo-box product"><img src="web/img/logos/icon-dynamo.svg" alt="Dynamo"></div>
    </div>
  </div>
</div>