<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>
        <span data-sgh data-name="Section Header H3 Tag" data-color="Dark Grey" data-margin="0 0 40px" data-textalign="center" data-fontsize="28px" data-font="Lato Bold uppercase">
        Branding
        </span>
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-6">
      <h4><span data-sgh data-name="H4 Tag" data-font="Lato 700" data-fontsize="16px">Logo with White Text</span></h4>
      <div class="logo-box grey"><img src="web/img/logos/hubx-full-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4>Logo with Black Text</h4>
      <div class="logo-box"><img src="web/img/logos/hubx-full-logo-black.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4>Logo Sans-Text</h4>
      <div class="logo-box"><img src="web/img/logos/hubx-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-6">
      <h4>Icon in Hub Orange</h4>
      <div class="logo-box"><img src="web/img/logos/icon-hubx-graphic-logo.svg" alt="Full Logo"></div>
    </div>
    <div class="col-sm-4">
      <h4>Spark</h4>
      <div class="logo-box product"><img src="web/img/logos/icon-spark.svg" alt="Spark"></div>
    </div>
    <div class="col-sm-4">
      <h4>Nitro</h4>
      <div class="logo-box product"><img src="web/img/logos/icon-nitro.svg" alt="Nitro"></div>
    </div>
    <div class="col-sm-4">
      <h4>Dynamo</h4>
      <div class="logo-box product"><img src="web/img/logos/icon-dynamo.svg" alt="Dynamo"></div>
    </div>
  </div>
</div>