<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3><span data-sg data-name="h3_item_3">Buttons</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="text-center"><a class="btn btn-primary" data-sg data-name="btn_primary">Primary Button</a></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a class="btn btn-info" data-sg data-name="btn_info">Secondary (Info) Button</a></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a data-sg data-name="link_item">This is just a regular link</a></p>
    </div>
  </div>
</div>