<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>Buttons</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="text-center"><a href="#" class="btn btn-primary">Primary Button</a></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a href="#" class="btn btn-info">Secondary (Info) Button</a></p>
    </div>
    <div class="col-md-4">
      <p class="text-center"><a href="#">This is just a regular link</a></p>
    </div>
  </div>
</div>