<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>Colors</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Blues</h4>
      <div class="color-swatch-blue">
        <div class="blue1" data-sgh data-name="Dark Blue" data-cmyk="(81, 29, 0, 77)" data-rgb="(11, 42, 59)" data-hexcode="#0B2A3B"></div>
        <div class="blue2" data-sgh data-name="Footer Bg" data-cmyk="(11, 29, 0, 66)" data-rgb="(0, 62, 87)" data-hexcode="#003e57"></div>
        <div class="blue3" data-sgh data-name="Nav Blue" data-cmyk="(100, 29, 0, 51)" data-rgb="(0, 90, 126)" data-hexcode="#005A7E"></div>
        <div class="blue4" data-sgh data-name="Banner Blue" data-cmyk="(100, 29, 0, 40)" data-rgb="(0, 108, 152)" data-hexcode="#006C98"></div>
        <div class="blue5" data-sgh data-name="Blue" data-cmyk="(67, 19, 0, 25)" data-rgb="(63, 155, 192)" data-hexcode="#3f9bc0"></div>
        <div class="blue6" data-sgh data-name="Link Blue" data-cmyk="(88, 25, 0, 18)" data-rgb="(25, 158, 210)" data-hexcode="#199ed2"></div>
        <div class="blue7" data-sgh data-name="Menu Blue" data-cmyk="(58, 16, 0, 0)" data-rgb="(107, 213, 255)" data-hexcode="#6bd5ff"></div>
        <div class="blue8" data-sgh data-name="Blue Bg" data-cmyk="(36, 10, 0, 0)" data-rgb="(163, 229, 255)" data-hexcode="#a3e5ff"></div>
        <div class="blue9" data-sgh data-name="Table Light Blue" data-cmyk="(18, 5, 0, 0)" data-rgb="(210, 242, 255)" data-hexcode="#d2f2ff"></div>
        <div class="blue10" data-sgh data-name="Light Blue Bg" data-cmyk="(7, 2, 0, 0)" data-rgb="(236, 249, 255)" data-hexcode="#ecf9ff"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Shades of Grey</h4>
      <div class="color-swatch-grey">
        <div class="grey1" data-sgh data-name="White" data-cmyk="(0, 0, 0, 0)" data-rgb="(255, 255, 255)" data-hexcode="#ffffff"></div>
        <div class="grey2" data-sgh data-name="Light Grey" data-cmyk="(0, 0, 0, 4)" data-rgb="(244, 244, 244)" data-hexcode="#f4f4f4"></div>
        <div class="grey3" data-sgh data-name="Footer Grey" data-cmyk="(0, 0, 0, 16)" data-rgb="(213, 213, 213)" data-hexcode="#d5d5d5"></div>
        <div class="grey4" data-sgh data-name="Grey" data-cmyk="(0, 0, 0, 61)" data-rgb="(99, 99, 99)" data-hexcode="#636363"></div>
        <div class="grey5" data-sgh data-name="Dark Grey" data-cmyk="(1, 0, 0, 69)" data-rgb="(79, 80, 80)" data-hexcode="#4f5050"></div>
        <div class="grey6" data-sgh data-name="Black" data-cmyk="(0, 0, 0, 80)" data-rgb="(51, 51, 51)" data-hexcode="#333333"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Product Colors</h4>
      <div class="color-swatch-others">
        <div class="orange" data-sgh data-name="Orange" data-cmyk="(0, 56, 97, 0)" data-rgb="(255, 112, 7)" data-hexcode="#ff7007"></div>
        <div class="green" data-sgh data-name="Green" data-cmyk="(100, 0, 84, 32)" data-rgb="(0, 173, 28)" data-hexcode="#00AD1C"></div>
        <div class="red" data-sgh data-name="Red" data-cmyk="(0, 79, 83, 0)" data-rgb="(255, 54, 43)" data-hexcode="#FF362B"></div>
      </div>
    </div>
  </div>
</div>