<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>
        <span data-sg data-name="h3_item_3">
          Colors
        </span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4><span data-sg data-name="h4_item">Blues</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="color-swatch">
      <div class="col-sm-4"><span class="blue1" data-sg data-name="dark_blue"></span></div>
      <div class="col-sm-4"><span class="blue2" data-sg data-name="footer_bg"></span></div>
      <div class="col-sm-4"><span class="blue3" data-sg data-name="nav_blue"></span></div>
      <div class="col-sm-4"><span class="blue4" data-sg data-name="banner_blue"></span></div>
      <div class="col-sm-4"><span class="blue5" data-sg data-name="blue"></span></div>
      <div class="col-sm-4"><span class="blue6" data-sg data-name="link_blue"></span></div>
      <div class="col-sm-4"><span class="blue7" data-sg data-name="menu_blue"></span></div>
      <div class="col-sm-4"><span class="blue8" data-sg data-name="blue_bg"></span></div>
      <div class="col-sm-4"><span class="blue9" data-sg data-name="table_light_blue"></span></div>
      <div class="col-sm-4"><span class="blue10" data-sg data-name="light_blue_bg"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4><span data-sg data-name="h4_item">Blues</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="color-swatch">
      <div class="col-sm-4"><span class="grey1" data-sg data-name="white"></span></div>
      <div class="col-sm-4"><span class="grey2" data-sg data-name="light_grey"></span></div>
      <div class="col-sm-4"><span class="grey3" data-sg data-name="footer_grey"></span></div>
      <div class="col-sm-4"><span class="grey4" data-sg data-name="grey"></span></div>
      <div class="col-sm-4"><span class="grey5" data-sg data-name="dark_grey"></span></div>
      <div class="col-sm-4"><span class="grey6" data-sg data-name="black"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4><span data-sg data-name="h4_item">Product Colors</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="color-swatch">
      <div class="col-sm-4"><span class="orange" data-sg data-name="orange"></span></div>
      <div class="col-sm-4"><span class="green" data-sg data-name="green"></span></div>
      <div class="col-sm-4"><span class="red" data-sg data-name="red"></span></div>
    </div>
  </div>
</div>