<div class="container">
  <div class="row sec-header">
    <div class="col-md-12 text-center">
      <h3>Domain Search</h3>
    </div>
  </div>
  <div class="row text-right">
    <form class="domain-search" onsubmit="return false;">
      <div class="col-md-7 col-md-offset-1 col-sm-8">
        <div class="input-group">
          <input type="text" placeholder="Enter a Domain (mydomain.com)" id="domain-search-input" class="form-control">
          <input type="hidden" name="incoming" value="i98">
          <input type="hidden" name="from" value="1">
          <input type="hidden" name="domain_type" value="2">
          <input type="hidden" name="sb1w" value="yes">
          <input type="hidden" name="sb2w" value="yes">
          <input type="hidden" name="sb3w" value="yes">
          <input type="hidden" name="sb4w" value="yes">
          <input type="hidden" class="first_domain_name" name="first_domain_name" value="">
          <input type="hidden" class="domain_extension" name="domain_extension" value="">
          <div class="domain-response"></div>
          <span class="input-group-addon domain-search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        </div>
      </div>
      <span class="col-md-3 col-sm-4">
        <a href="" class="btn btn-primary domain-search-button">Search Domain</a>
      </span>
    </form>
  </div>
</div>