<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>
        <span data-sg data-name="h3_item_2">
          Icons
        </span>
      </h3>
    </div>
  </div>
  <div class="row jutwrap2">
    <div class="col-md-12">
      <div class="icons">
        <p class="text-center">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          <a class="social"><span class="twitter"></span></a>
          <a class="social"><span class="facebook"></span></a>
          <a class="social"><span class="google"></span></a>
          <a class="social"><span class="youtube"></span></a>
          <a class="social"><span class="blog"></span></a>
          <a class="social"><span class="twitter2"></span></a>
          <a class="social"><span class="facebook2"></span></a>
          <a class="social"><span class="google2"></span></a>
          <a class="social"><span class="youtube2"></span></a>
          <a class="social"><span class="blog2"></span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="compad-icons">
        <img src="./web/img/compads/award.svg" alt="award">
        <img src="./web/img/compads/boarding.svg" alt="boarding">
        <img src="./web/img/compads/clock.svg" alt="clock">
        <img src="./web/img/compads/code.svg" alt="code">
        <img src="./web/img/compads/conversation.svg" alt="conversation">
        <img src="./web/img/compads/developer-tools.svg" alt="developer-tools">
        <img src="./web/img/compads/domain.svg" alt="domain">
        <img src="./web/img/compads/dragdrop.svg" alt="dragdrop">
        <img src="./web/img/compads/email.svg" alt="email">
        <img src="./web/img/compads/email-2.svg" alt="email-2">
        <img src="./web/img/compads/glasses.svg" alt="glasses">
        <img src="./web/img/compads/green-hosting.svg" alt="green-hosting">
        <img src="./web/img/compads/guarantee.svg" alt="guarantee">
        <img src="./web/img/compads/headset.svg" alt="headset">
        <img src="./web/img/compads/keys.svg" alt="keys">
        <img src="./web/img/compads/like.svg" alt="like">
        <img src="./web/img/compads/mag-glass.svg" alt="mag-glass">
        <img src="./web/img/compads/mobile.svg" alt="mobile">
        <img src="./web/img/compads/one-free.svg" alt="one-free">
        <img src="./web/img/compads/pen-paper.svg" alt="pen-paper">
        <img src="./web/img/compads/refresh.svg" alt="refresh">
        <img src="./web/img/compads/rocket.svg" alt="rocket">
        <img src="./web/img/compads/servers.svg" alt="servers">
        <img src="./web/img/compads/support.svg" alt="support">
        <img src="./web/img/compads/tools.svg" alt="tools">
        <img src="./web/img/compads/unlimited.svg" alt="unlimited">
        <img src="./web/img/compads/upload.svg" alt="upload">
        <img src="./web/img/compads/webpage.svg" alt="webpage">
      </div>
    </div>
  </div>
</div>