<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
      <h3>Icons</h3>
    </div>
  </div>
  <div class="row jutwrap2">
    <div class="col-md-12">
      <div class="icons">
        <p class="text-center">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          <a class="social"><span class="twitter"></span></a>
          <a class="social"><span class="facebook"></span></a>
          <a class="social"><span class="google"></span></a>
          <a class="social"><span class="youtube"></span></a>
          <a class="social"><span class="blog"></span></a>
          <a class="social"><span class="twitter2"></span></a>
          <a class="social"><span class="facebook2"></span></a>
          <a class="social"><span class="google2"></span></a>
          <a class="social"><span class="youtube2"></span></a>
          <a class="social"><span class="blog2"></span></a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="compad-icons">
        <img src="./web/img/compads/award.svg" alt="award" data-sgh data-name="award">
        <img src="./web/img/compads/boarding.svg" alt="boarding" data-sgh data-name="boarding">
        <img src="./web/img/compads/clock.svg" alt="clock" data-sgh data-name="clock">
        <img src="./web/img/compads/code.svg" alt="code" data-sgh data-name="code">
        <img src="./web/img/compads/conversation.svg" alt="conversation" data-sgh data-name="conversation">
        <img src="./web/img/compads/developer-tools.svg" alt="developer-tools" data-sgh data-name="developer-tools">
        <img src="./web/img/compads/domain.svg" alt="domain" data-sgh data-name="domain">
        <img src="./web/img/compads/dragdrop.svg" alt="dragdrop" data-sgh data-name="dragdrop">
        <img src="./web/img/compads/email.svg" alt="email" data-sgh data-name="email">
        <img src="./web/img/compads/email-2.svg" alt="email-2" data-sgh data-name="email-2">
        <img src="./web/img/compads/glasses.svg" alt="glasses" data-sgh data-name="glasses">
        <img src="./web/img/compads/green-hosting.svg" alt="green-hosting" data-sgh data-name="green-hosting">
        <img src="./web/img/compads/guarantee.svg" alt="guarantee" data-sgh data-name="guarantee">
        <img src="./web/img/compads/headset.svg" alt="headset" data-sgh data-name="headset">
        <img src="./web/img/compads/keys.svg" alt="keys" data-sgh data-name="keys">
        <img src="./web/img/compads/like.svg" alt="like" data-sgh data-name="like">
        <img src="./web/img/compads/mag-glass.svg" alt="mag-glass" data-sgh data-name="mag-glass">
        <img src="./web/img/compads/mobile.svg" alt="mobile" data-sgh data-name="mobile">
        <img src="./web/img/compads/one-free.svg" alt="one-free" data-sgh data-name="one-free">
        <img src="./web/img/compads/pen-paper.svg" alt="pen-paper" data-sgh data-name="pen-paper">
        <img src="./web/img/compads/refresh.svg" alt="refresh" data-sgh data-name="refresh">
        <img src="./web/img/compads/rocket.svg" alt="rocket" data-sgh data-name="rocket">
        <img src="./web/img/compads/servers.svg" alt="servers" data-sgh data-name="servers">
        <img src="./web/img/compads/support.svg" alt="support" data-sgh data-name="support">
        <img src="./web/img/compads/tools.svg" alt="tools" data-sgh data-name="tools">
        <img src="./web/img/compads/unlimited.svg" alt="unlimited" data-sgh data-name="unlimited">
        <img src="./web/img/compads/upload.svg" alt="upload" data-sgh data-name="upload">
        <img src="./web/img/compads/webpage.svg" alt="webpage" data-sgh data-name="webpage">
      </div>
    </div>
  </div>
</div>