<div class="container">
  <div class="row sec-header">
    <div class="col-md-12">
    <h3><span data-sg data-name="h3_item_3">Plans Table</span></h3>
    </div>
  </div>
  <!-- http://codyhouse.co/demo/pricing-tables/index.html -->
  <div class="row hidden-xs">
    <div class="col-md-10">
      <table class="table table-hover products" id="product-table">
        <thead>
          <tr>
            <th class="column0"></th>
            <th class="column1">
              <div class="round-table-head first"><p>Spark</p></div> <br> Great Starter Plan <br> Quick Setup
            </th>
            <th class="column2">
              <div class="round-table-head second"><p>Nitro</p></div> <br> Small Business Hosting <br> Better Performance
            </th>
            <th class="column3">
              <div class="round-table-head third"><p>Dynamo</p></div> <br> Built for Highly Dynamic <br> Sites, Most Resources
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th class="column0">
            </th>
            <td class="column1">
              <div class="pricebox">
                <span class="strikethru">$6.99/mo</span>
                <br>$4.99/mo
              </div>
              <a href="#" class="btn btn-primary">Get Started</a>
            </td>
            <td class="column2">
              <div class="pricebox">
                <span class="strikethru">$8.99/mo</span>
                <br>$6.99/mo
              </div>
              <a href="#" class="btn btn-primary">Get Started</a>
            </td>
            <td class="column3">
              <div class="pricebox">
                <span class="strikethru">$10.99/mo</span>
                <br>$8.99/mo
              </div>
              <a href="#" class="btn btn-primary">Get Started</a>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#productFreeDomain" aria-expanded="false">Free Domain</a>
              <div class="collapse" id="productFreeDomain">Get a free custom domain to match your fabulous business or idea. You can also transfer an existing domain for free.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ssd" aria-expanded="false">Free SSD (20x Faster)</a>
              <div class="collapse" id="ssd">Solid-state drives are up to 20 times faster and are more reliable over mechanical hard drives. Some hosting providers even charge extra for this feature while we don’t.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#productWebsites" aria-expanded="false">Websites</a>
              <div class="collapse" id="productWebsites">Websites are several webpages integrated together under a unique domain name.</div>
            </th>
            <td class="column1">2</td>
            <td class="column2">UNLIMITED</td>
            <td class="column3">UNLIMITED</td>
          </tr>
          <tr>
            <th class="column0">MySQL &amp; PostgreSQL Databases</th>
            <td class="column1">10</td>
            <td class="column2">UNLIMITED</td>
            <td class="column3">UNLIMITED</td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#productAdCredits" aria-expanded="false">Free Advertising Credits</a>
              <div class="collapse" id="productAdCredits">Use Google AdWords to drive quality traffic to your website and grow your business.</div>
            </th>
            <td class="column1">$50</td>
            <td class="column2">$150</td>
            <td class="column3">$200</td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductParkedDomain" aria-expanded="false">Parked Domains</a>
              <div class="collapse" id="ProductParkedDomain">This allows you to have multiple domain names point to the same account - often used to send mydomain.com, mydomain.net, and mydomain.org to the same site.</div>
            </th>
            <td class="column1">5</td>
            <td class="column2">UNLIMITED</td>
            <td class="column3">UNLIMITED</td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductSubDomain" aria-expanded="false">Sub Domains</a>
              <div class="collapse" id="ProductSubDomain">A canonical or sub domain name looks like canonical.domain.com. The standard ones are www.domain.com and domain.com. Depending on your shared hosting package, other names like info.domain.com or support.domain.com can be used - the "canonical" is chosen by you at signup.</div>
            </th>
            <td class="column1">25</td>
            <td class="column2">UNLIMITED</td>
            <td class="column3">UNLIMITED</td>
          </tr>
          <tr>
            <th class="column0">Backups</th>
            <td class="column1">$1/mo</td>
            <td class="column2">$1/mo</td>
            <td class="column3">$1/mo</td>
          </tr>
          <tr>
            <th class="column0">
              Free Website Transfer
            </th>
            <td class="column1">3</td>
            <td class="column2">3</td>
            <td class="column3">3</td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductInstalledWP" aria-expanded="false">Auto-Installed WordPress</a>
              <div class="collapse" id="ProductInstalledWP">Simply choose to auto-install WordPress during the checkout process and we'll pre-install it for you for FREE on your hosting plan.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductShoppingCart" aria-expanded="false">Auto-Installed Shopping Cart</a>
              <div class="collapse" id="ProductShoppingCart">Simply choose to auto-install PrestaShop during the checkout process and we'll pre-install it for you for FREE on your hosting plan.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr>
            <th class="column0">Free Website Builder</th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ssh" aria-expanded="false">SSH Access</a>
              <div class="collapse" id="ssh">SSH access allows for a user to access their server using command line. It allows for an easier workflow and faster management than a graphical user interface is able to provide.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductDataCenter" aria-expanded="false">Choice of Data Center</a>
              <div class="collapse" id="ProductDataCenter">Normally hosting companies use a single data center. This means your website and email could be 3,000 miles or more away from you. It is cheaper for them, but just doesn't make sense for you. With Web Hosting Hub you can pick from one of our two data center locations located on the east and west coast. Proximity of your business/website to your data center means your email and website can be delivered faster.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-remove">No</span></td>
            <td class="column2"><span class="glyphicon glyphicon-ok">Yes</span></td>
            <td class="column3"><span class="glyphicon glyphicon-ok">Yes</span></td>
          </tr>
          <tr class="expand">
            <th class="column0">
              <a data-toggle="collapse" data-target="#ProductWebDesign" aria-expanded="false">Web Design Discount</a>
              <div class="collapse" id="ProductWebDesign">Engage your potential customers with a modern website from Web Hosting Hub. We provide high-quality web design services in a wide range of customizable packages. Whether you own a small to medium business or you desire a robust e-Commerce storefront, Web Hosting Hub can get your website online in no time.</div>
            </th>
            <td class="column1"><span class="glyphicon glyphicon-remove">No</span></td>
            <td class="column2">20%</td>
            <td class="column3">30%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End Product Table -->

  <!-- Product Boxes -->
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <div class="block products first">
        <div class="row">
          <div class="col-xs-5 block-head">
            <p>spark</p>
          </div>
          <div class="col-xs-7">
            <div class="pricebox">
              <span class="strikethru">$6.99/mo</span>
              <br><div>$4.99/mo</div>
            </div>
            <p><em>Great Starter Plan <br> Quick Setup</em></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <a class="btn btn-info features">Features</a>
          </div>
          <div class="col-xs-7">
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div><!--row-->
        <div class="dropdown">
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#freeDomainSpark" aria-expanded="false" class="collapsed">Free Domain</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="freeDomainSpark" aria-expanded="false">
              Get a free custom domain to match your fabulous business or idea. You can also transfer an existing domain for free.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#ssdSpark" aria-expanded="false" class="collapsed">Free SSD (20x Faster)</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="ssdSpark" aria-expanded="false">
              Solid-state drives are up to 20 times faster and are more reliable over mechanical hard drives. Some hosting providers even charge extra for this feature while we don’t.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#websitesSpark" aria-expanded="false" class="collapsed">Websites</a>
            </div>
            <div class="col-xs-6">
              2
            </div>
            <div class="col-md-12 collapse clearfix" id="websitesSpark" aria-expanded="false">
              Websites are several webpages integrated together under a unique domain name.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              MySQL &amp; PostgreSQL Databases
            </div>
            <div class="col-xs-6">
              10
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#adCreditsSpark" aria-expanded="false" class="collapsed">Free Advertising Credits</a>
            </div>
            <div class="col-xs-6">
              $50
            </div>
            <div class="col-md-12 collapse clearfix" id="adCreditsSpark" aria-expanded="false">
              Use Google AdWords to drive quality traffic to your website and grow your business.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#parkedDomainsSpark" aria-expanded="false" class="collapsed">Parked Domains</a>
            </div>
            <div class="col-xs-6">
              5
            </div>
            <div class="col-md-12 collapse clearfix" id="parkedDomainsSpark" aria-expanded="false">
              This allows you to have multiple domain names point to the same account - often used to send mydomain.com, mydomain.net, and mydomain.org to the same site.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#subDomainsSpark" aria-expanded="false" class="collapsed">Sub Domains</a>
            </div>
            <div class="col-xs-6">
              25
            </div>
            <div class="col-md-12 collapse clearfix" id="subDomainsSpark" aria-expanded="false">
              A canonical or sub domain name looks like canonical.domain.com. The standard ones are www.domain.com and domain.com. Depending on your shared hosting package, other names like info.domain.com or support.domain.com can be used - the "canonical" is chosen by you at signup.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Backups
            </div>
            <div class="col-xs-6">
              $1/mo
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Transfer
            </div>
            <div class="col-xs-6">
              3
            </div>
            <div class="col-md-12 collapse clearfix" id="websiteTransfersSpark" aria-expanded="false">
              If your current host uses cPanel, you can get up to 3 cPanel transfers for free. Each cPanel account needs to be under 5GB in size. Other transfer options are available.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#installedWpSpark" aria-expanded="false" class="collapsed">Auto-Installed WordPress</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="installedWpSpark" aria-expanded="false">
              Simply choose to auto-install WordPress during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#shoppingCartSpark" aria-expanded="false" class="collapsed">Auto-Installed Shopping Cart</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="shoppingCartSpark" aria-expanded="false">
              Simply choose to auto-install PrestaShop during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Builder
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#sshSpark" aria-expanded="false" class="collapsed">SSH Access</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="sshSpark" aria-expanded="false">
              SSH access allows for a user to access their server using command line. It allows for an easier workflow and faster management than a graphical user interface is able to provide.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#dataCenterSpark" aria-expanded="false" class="collapsed">Choice of Data Center</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-remove">No</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="dataCenterSpark" aria-expanded="false">
              Normally hosting companies use a single data center. This means your website and email could be 3,000 miles or more away from you. It is cheaper for them, but just doesn't make sense for you. With Web Hosting Hub you can pick from one of our two data center locations located on the east and west coast. Proximity of your business/website to your data center means your email and website can be delivered faster.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#webDesignSpark" aria-expanded="false" class="collapsed">Web Design Discount</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-remove">No</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="webDesignSpark" aria-expanded="false">
              Engage your potential customers with a modern website from Web Hosting Hub. We provide high-quality web design services in a wide range of customizable packages. Whether you own a small to medium business or you desire a robust e-Commerce storefront, Web Hosting Hub can get your website online in no time.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <div class="block products second">
        <div class="row">
          <div class="col-xs-5 block-head">
            <p>nitro</p>
          </div>
          <div class="col-xs-7">
            <div class="pricebox">
              <span class="strikethru">$8.99/mo</span>
              <br><div>$6.99/mo</div>
            </div>
            <p><em>Small Business Hosting <br> Better Performance</em></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <a class="btn btn-info features">Features</a>
          </div>
          <div class="col-xs-7">
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div><!--row-->
        <div class="dropdown">
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#freeDomainNitro" aria-expanded="false" class="collapsed">Free Domain</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="freeDomainNitro" aria-expanded="false">
              Get a free custom domain to match your fabulous business or idea. You can also transfer an existing domain for free.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#ssdNitro" aria-expanded="false" class="collapsed">Free SSD (20x Faster)</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="ssdNitro" aria-expanded="false">
              Solid-state drives are up to 20 times faster and are more reliable over mechanical hard drives. Some hosting providers even charge extra for this feature while we don’t.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#websitesNitro" aria-expanded="false" class="collapsed">Websites</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="websitesNitro" aria-expanded="false">
              Websites are several webpages integrated together under a unique domain name.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              MySQL &amp; PostgreSQL Databases
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#adCreditsNitro" aria-expanded="false" class="collapsed">Free Advertising Credits</a>
            </div>
            <div class="col-xs-6">
              $150
            </div>
            <div class="col-md-12 collapse clearfix" id="adCreditsNitro" aria-expanded="false">
              Use Google AdWords to drive quality traffic to your website and grow your business.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#parkedDomainsNitro" aria-expanded="false" class="collapsed">Parked Domains</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="parkedDomainsNitro" aria-expanded="false">
              This allows you to have multiple domain names point to the same account - often used to send mydomain.com, mydomain.net, and mydomain.org to the same site.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#subDomainsNitro" aria-expanded="false" class="collapsed">Sub Domains</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="subDomainsNitro" aria-expanded="false">
              A canonical or sub domain name looks like canonical.domain.com. The standard ones are www.domain.com and domain.com. Depending on your shared hosting package, other names like info.domain.com or support.domain.com can be used - the "canonical" is chosen by you at signup.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Backups
            </div>
            <div class="col-xs-6">
              $1/mo
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Transfer
            </div>
            <div class="col-xs-6">
              3
            </div>
            <div class="col-md-12 collapse clearfix" id="websiteTransfersNitro" aria-expanded="false">
              If your current host uses cPanel, you can get up to 3 cPanel transfers for free. Each cPanel account needs to be under 5GB in size. Other transfer options are available.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#installedWpNitro" aria-expanded="false" class="collapsed">Auto-Installed WordPress</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="installedWpNitro" aria-expanded="false">
              Simply choose to auto-install WordPress during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#shoppingCartNitro" aria-expanded="false" class="collapsed">Auto-Installed Shopping Cart</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="shoppingCartNitro" aria-expanded="false">
              Simply choose to auto-install PrestaShop during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Builder
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#sshNitro" aria-expanded="false" class="collapsed">SSH Access</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="sshNitro" aria-expanded="false">
              SSH access allows for a user to access their server using command line. It allows for an easier workflow and faster management than a graphical user interface is able to provide.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#dataCenterNitro" aria-expanded="false" class="collapsed">Choice of Data Center</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="dataCenterNitro" aria-expanded="false">
              Normally hosting companies use a single data center. This means your website and email could be 3,000 miles or more away from you. It is cheaper for them, but just doesn't make sense for you. With Web Hosting Hub you can pick from one of our two data center locations located on the east and west coast. Proximity of your business/website to your data center means your email and website can be delivered faster.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#webDesignNitro" aria-expanded="false" class="collapsed">Web Design Discount</a>
            </div>
            <div class="col-xs-6">
              20%
            </div>
            <div class="col-md-12 collapse clearfix" id="webDesignNitro" aria-expanded="false">
              Engage your potential customers with a modern website from Web Hosting Hub. We provide high-quality web design services in a wide range of customizable packages. Whether you own a small to medium business or you desire a robust e-Commerce storefront, Web Hosting Hub can get your website online in no time.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <div class="block products third">
        <div class="row">
          <div class="col-xs-5 block-head">
            <p>dynamo</p>
          </div>
          <div class="col-xs-7">
            <div class="pricebox">
              <span class="strikethru">$10.99/mo</span>
              <br><div>$8.99/mo</div>
            </div>
            <p><em>Built for Highly Dynamic <br> Sites, Most Resources</em></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            <a class="btn btn-info features">Features</a>
          </div>
          <div class="col-xs-7">
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div><!--row-->
        <div class="dropdown">
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#freeDomainDynamo" aria-expanded="false" class="collapsed">Free Domain</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="freeDomainDynamo" aria-expanded="false">
              Get a free custom domain to match your fabulous business or idea. You can also transfer an existing domain for free.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#ssdDynamo" aria-expanded="false" class="collapsed">Free SSD (20x Faster)</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="ssdDynamo" aria-expanded="false">
              Solid-state drives are up to 20 times faster and are more reliable over mechanical hard drives. Some hosting providers even charge extra for this feature while we don’t.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#websitesDynamo" aria-expanded="false" class="collapsed">Websites</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="websitesDynamo" aria-expanded="false">
              Websites are several webpages integrated together under a unique domain name.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              MySQL &amp; PostgreSQL Databases
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#adCreditsDynamo" aria-expanded="false" class="collapsed">Free Advertising Credits</a>
            </div>
            <div class="col-xs-6">
              $200
            </div>
            <div class="col-md-12 collapse clearfix" id="adCreditsDynamo" aria-expanded="false">
              Use Google AdWords to drive quality traffic to your website and grow your business.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#parkedDomainsDynamo" aria-expanded="false" class="collapsed">Parked Domains</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="parkedDomainsDynamo" aria-expanded="false">
              This allows you to have multiple domain names point to the same account - often used to send mydomain.com, mydomain.net, and mydomain.org to the same site.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#subDomainsDynamo" aria-expanded="false" class="collapsed">Sub Domains</a>
            </div>
            <div class="col-xs-6">
              UNLIMITED
            </div>
            <div class="col-md-12 collapse clearfix" id="subDomainsDynamo" aria-expanded="false">
              A canonical or sub domain name looks like canonical.domain.com. The standard ones are www.domain.com and domain.com. Depending on your shared hosting package, other names like info.domain.com or support.domain.com can be used - the "canonical" is chosen by you at signup.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Backups
            </div>
            <div class="col-xs-6">
              $1/mo
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Transfer
            </div>
            <div class="col-xs-6">
              3
            </div>
            <div class="col-md-12 collapse clearfix" id="websiteTransfersDynamo" aria-expanded="false">
              If your current host uses cPanel, you can get up to 3 cPanel transfers for free. Each cPanel account needs to be under 5GB in size. Other transfer options are available.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#installedWpDynamo" aria-expanded="false" class="collapsed">Auto-Installed WordPress</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="installedWpDynamo" aria-expanded="false">
              Simply choose to auto-install WordPress during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#shoppingCartDynamo" aria-expanded="false" class="collapsed">Auto-Installed Shopping Cart</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="shoppingCartDynamo" aria-expanded="false">
              Simply choose to auto-install PrestaShop during the checkout process and we'll pre-install it for you for FREE on your hosting plan.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Free Website Builder
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#sshDynamo" aria-expanded="false" class="collapsed">SSH Access</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="sshDynamo" aria-expanded="false">
              SSH access allows for a user to access their server using command line. It allows for an easier workflow and faster management than a graphical user interface is able to provide.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#dataCenterDynamo" aria-expanded="false" class="collapsed">Choice of Data Center</a>
            </div>
            <div class="col-xs-6">
              <span class="glyphicon glyphicon-ok">Yes</span>
            </div>
            <div class="col-md-12 collapse clearfix" id="dataCenterDynamo" aria-expanded="false">
              Normally hosting companies use a single data center. This means your website and email could be 3,000 miles or more away from you. It is cheaper for them, but just doesn't make sense for you. With Web Hosting Hub you can pick from one of our two data center locations located on the east and west coast. Proximity of your business/website to your data center means your email and website can be delivered faster.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a data-toggle="collapse" data-target="#webDesignDynamo" aria-expanded="false" class="collapsed">Web Design Discount</a>
            </div>
            <div class="col-xs-6">
              30%
            </div>
            <div class="col-md-12 collapse clearfix" id="webDesignDynamo" aria-expanded="false">
              Engage your potential customers with a modern website from Web Hosting Hub. We provide high-quality web design services in a wide range of customizable packages. Whether you own a small to medium business or you desire a robust e-Commerce storefront, Web Hosting Hub can get your website online in no time.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product Boxes -->

  <div class="row product-sec-bottom" data-sgh data-name="Product Table Bottom Section" data-description="Usually put at the bottom of each product table to sell ad credits">
    <div class="col-md-12 text-center">
      <p class="plus"><span>+</span></p> 
      <p><span>Free Bonus</span> With Every New Account</p>
      <div class="ad-credit-banner">
        Up To $200 Free Ad Credit To Use With: &nbsp; <img src="//whh01-inmotionhosting1.netdna-ssl.com/img/credits.svg" alt="Google, Bing, Yahoo">
      </div>
    </div>
  </div>

</div>