<div class="container">
  <div class="row sec-header text-center">
    <div class="col-md-12">
      <h3><span data-sgh data-name="H3" data-color="Blue" data-textalign="center" data-fontsize="28px" data-font="Lato Bold uppercase">Typography</span></h3>
    </div>
    <div class="col-md-4">
      <p data-sgh data-name="Sec Header P Tag" data-margin="30 0 0" data-fontsize="14px" data-font="Lato Bold uppercase">Lorem ipsum dolor</p>
    </div>
    <div class="col-md-4">
      <p data-sgh data-name="Sec Header P Tag" data-margin="30 0 0" data-fontsize="14px" data-font="Lato Bold uppercase">consectetur adipisicing elit</p>
    </div>
    <div class="col-md-4">
      <p data-sgh data-name="Sec Header P Tag" data-margin="30 0 0" data-fontsize="14px" data-font="Lato Bold uppercase">Facere magni, quasi</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4><span data-sgh data-name="H4 Tag" data-color="Black" data-fontsize="16px" data-font="Lato Bold">An H4 Heading</span></h4>
      <p data-sgh data-name="P Tag" data-fontsize="16px" data-font="Lato">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere magni, quasi voluptas aut voluptates nulla sunt exercitationem suscipit in ipsa inventore perferendis voluptatem consequuntur blanditiis est, magnam ad sint doloribus.</p>
      <h5><span data-sgh data-name="H5 Tag" data-fontsize="16px" data-font="Lato">An H5 Heading</span></h5>
      <p>Lorem ipsum <strong data-sgh data-name="Strong Tag" data-font="Lato Bold">dolor sit amet,</strong> consectetur adipisicing elit. Facere magni, quasi voluptas aut voluptates nulla sunt exercitationem suscipit in ipsa inventore perferendis voluptatem consequuntur blanditiis est, magnam ad sint doloribus.</p>
    </div>
    <div class="col-md-6">
      <h4>BlockQuote</h4>
      <blockquote>
        <p data-sgh data-name="Blockquote" data-fontsize="16px" data-font="Lato Regular Italics">I just wanted to say I am so grateful for Shea helping me out starting up my blog. Shea was so efficient, answered my questions right away and helped me traverse the world of blogging that I really know nothing about. Great team member!</p>
        <footer data-sgh data-name="Blockquote Footer" data-fontsize="80%" data-font="Lato Regular Italics">Yvette Durham</footer>
      </blockquote>
    </div>
  </div>
</div>