// Text on all price boxes
.pricebox{
  font-weight: $black-font;
  font-style: italic;
  padding: 10px 0 20px;
  @include skew(0deg, -5deg);
  font-size: 28px;
  line-height: 1;
  .strikethru{
    font-weight: $bold-font;
    color: #979797;
    text-decoration: line-through;
    font-size: 16px;
    line-height: 1.3;
  }
  .fluctuate-text{ //for fluctuating discount prices
    font-size: 15px;
  }
  .fluctuate-price{ 
    font-size: 23px;
  }
  .fluctuate-product-box{ 
    font-size: 23px;
  }
}

section.banner-sec,
div.show-pricebox{
  .pricebox{
    width: 240px;
    padding: 0px 20px 20px;
    background-color: $menu-blue;
    margin: 0 auto -15px;
    color: #333;
    position: relative;
    z-index: 10;
    border: 2px solid #ccc;
    p{
      font-size: 18px;
      float: left;
      margin-top: 10px;
    }
    + a.btn{
      position: relative;
      z-index: 20;
    }
    .price-bulge{
      position: absolute;
      background: $menu-blue;
      width: 20px;
      height: 40px;
      &.left{
        top: 15px;
        left: -20px;
        border-radius: 20px 0 0 20px;
        border-bottom: $home-pricebox-border;
        border-left: $home-pricebox-border;
        border-top: $home-pricebox-border;
      }
      &.right{
        top: 15px;
        right: -20px;
        border-radius: 0 20px 20px 0;
        border-bottom: $home-pricebox-border;
        border-right: $home-pricebox-border;
        border-top: $home-pricebox-border;
      }
    }
    .pricebox-contain{
      overflow: hidden;
    }
    .pricing{
      display: block;
      float: right;
      padding-top: 8px;
      max-width: 135px;
      &.percentage{
        padding-top: 15px;
      }
    }
  }
  
  // For 'default' banners with the pricebox on the right side
  .row.with-price{
    margin-top: 10px;
    @media (max-width: $screen-sm-max){
      margin-top: 40px;
    }
  }
}